* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f172a;
    color: #fff;
}

.hero {
    height: 80vh;
    background: linear-gradient(120deg, #04060ab2, #15db57);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 3.5rem;
}

.hero p {
    font-size: 1.3rem;
    margin: 10px 0;
}

.btn {
    background: white;
    color: #02ce6f;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0f172a;
    color: white;
}

nav {
    background: #020617;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #a5b4fc;
    margin: 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #fff;
}

.card {
    color: white;
    margin: 40px auto;
    padding: 30px;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(50, 189, 108, 0.4);
}

h2 {
    margin-bottom: 15px;
    color: #818cf8;
}

.skills span {
    display: inline-block;
    background: #1e293b;
    margin: 8px;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
}

footer {
    background: #020617;
    text-align: center;
    padding: 15px;
    color: #94a3b8;
}